.about-me {
  margin-top: 0.8em;
}

.about-me .icon {
  margin-top: 20px;
  text-align: center;
}

.about-me .icon img {
  width: 250px;
  border-radius: 50%;
}

.about-me h4,
h6 {
  margin-top: 5px;
  text-align: center;
  color: #212121;
}
