.carosel-push {
  margin-top: 1em;
}

.carousel img {
  max-height: 450px;
}

.carousel-caption {
  background-color: #563e7c;
  opacity: 0;
  width: 350px;
  padding-left: 1em;
  animation-name: animateCaption;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

.carousel .carousel-caption {
  position: absolute;
  left: 10px;
}

/* The animation code */
@keyframes animateCaption {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.4;
  }
  75% {
    opacity: 0.6;
  }
  100% {
    opacity: 0.8;
  }
}

.carousel-caption h6 {
  color: #fff;
  text-align: left;
}

.carousel-caption h3,
h4,
h6 {
  text-align: left;
  color: #fff;
}
