.categories {
  margin-top: 0.8em;
}

.categories .cat-menu {
  margin-top: 0.25em;
  position: relative;
  top: 0.5em;
}

.categories .cat-menu span {
  font-family: "Cagliostro", sans-serif !important;
}

.categories .cat-menu span img {
  position: relative;
  top: -3px;
  width: 24px;
}

.categories .cat-menu span span {
  float: right;
  position: relative;
  top: -2px;
}
