.color-header .card {
  background-color: #563e7c;
  height: 40px;
}

.color-header .card h5 {
  text-align: center;
  color: #fff;
  margin-top: 7px;
}

.color-header .card h6 {
  text-align: center;
  color: #fff;
  margin-top: 7px;
}
