.comment {
  margin-top: 0.8em;
}

.comment img {
  width: 70px;
  border-radius: 50%;
}

.comment h4 {
  color: #212121;
}

.reply {
  margin-top: 0.8em;
}

.reply img {
  width: 60px;
  border-radius: 50%;
}

.reply h5 {
  color: #212121;
}

.commentbox {
  margin-top: 0.8em;
}

.commentbox h3 {
  color: #212121;
}

.commentbox textarea {
  margin-top: 1em;
}

.commentbox input {
  margin-top: 0.5em;
  width: 100%;
}

.commentbox button {
  margin-top: 0.8em;
}
