.header-blog .card {
  height: 80px;
}
/* #563e7c */
.header-blog .logo-blog {
  margin-top: 0.5em;
}
.header-blog .logo-blog img {
  width: 100px;
}

.header-blog input {
  width: 100%;
}

.header-blog .header-icon img {
  width: 20px;
}

.header-blog .header-icon span {
  position: relative;
  top: -2px;
}

.input-group-text {
  background-color: #fff !important;
  border-right: 0px !important;
  cursor: pointer;
}

.input-group input {
  border-left: 0px !important;
}

.input-group input:focus,
.input-group input:active {
  outline: none !important;
  border: 1px solid #bbb;
  box-shadow: none !important;
}

.input-group-text i {
  color: #212121;
}

.header-blog .header-icon span span {
  font-family: "Cagliostro", sans-serif !important;
  font-size: 20px;
  position: relative;
  top: 5px;
}

.header-blog .push-down {
  margin-top: 1.2em;
}
