.rpost {
  margin-top: 0.8em;
}

.rpost img {
  width: 180px;
  height: 100px;
}

.rpost h6 {
  text-align: left;
}
.rpost h5 {
  text-align: left;
  font-weight: 600;
}

.rpost .row {
  margin-top: 0.5em;
}
